= simple_form_for(current_user, url: profile_path, method: :patch) do |f|
  = f.input :first_name, required: true
  = f.input :last_name, required: true

  - if f.object.is_a?(Trainee)
    :javascript
      grouped_trainers = #{@grouped_trainers.to_json.html_safe}
    = f.input :expertise_area, collection: @grouped_trainers.keys, required: true
    = f.association :trainer, collection: @grouped_trainers[f.object.expertise_area].to_a, required: true

  = f.button :submit, 'Update Profile'
