= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
  = render "devise/shared/error_messages", resource: resource
  = f.input :email, autofocus: true, autocomplete: "email"
  .actions
    = f.button :submit, "Resend unlock instructions"
= render "devise/shared/links"
