= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.input :email, as: :email, autofocus: true, autocomplete: "email"
  = f.input :password, autocomplete: "current-password"
  - if devise_mapping.rememberable?
    = f.input :remember_me, as: :boolean
  .actions
    = f.button :submit, "Log in"
= render "devise/shared/links"
