!!!
%html.h-100
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GymTestProject
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.h-100
    .container-fluid.h-100
      .row.h-100
        - col_classes = 'p-5'
        = render partial: 'layouts/left_sidebar', locals: { col_classes: col_classes }
        = render partial: 'layouts/content', locals: { col_classes: col_classes }
        = render partial: 'layouts/right_sidebar', locals: { col_classes: col_classes }
